{% extends 'easymap/base.html' %}
{% load staticfiles %} 

<html>
<head>
	{% block head_block %}
	<script type="text/javascript">
    function Query(query_name) {
        // $(document).on('click', function() {
            // });
            $.get('/easymap/query/', {query_name: query_name}, function(data) {
            	// document.getElementById("geometry").setAttribute("data-info",data);
            	alert("HEHE1: "+data);
            	$("#geometry").data("info",data);
            	alert("HEHE 2: "+$("#geometry").data("info"));
        });
    }
	</script>
			<script>
			new mlPushMenu( document.getElementById( 'mp-menu' ), document.getElementById( 'trigger' ), {
				type : 'cover'
			} );
		</script>
	{% endblock %}
</head>
	
<body>

	{% block nav_block %}
		<ul class="nav navbar-nav navbar-right">
	{% if categories %}
		{% for category in categories %}
        <li><a href="/easymap/category/{{ category.id_name }}" target="_blank">{{ category.id_name }}</a></li>
    	{% endfor %}
    	<!-- This DIV is set for temporarily storing data passed from Database -->
    	<div id="geometry" data-info="none"></div>
    {% else %}
		<li><a href="#">{{ boldmessage }}</a></li>
	{% endif %} 
		</ul>   
	{% endblock %}

	{% block map_block %}
		<div id='cssmenu'>
		<ul>
		   <li class='active'><a href='#'><span>Home</span></a></li>
		   <li class='has-sub'><a href='#'><span>Products</span></a>
		      <ul>
		         <li><a href='#'><span>Product 1</span></a></li>
		         <li><a href='#'><span>Product 2</span></a></li>
		         <li class='last'><a href='#'><span>Product 3</span></a></li>
		      </ul>
		   </li>
		   <li class='has-sub'><a href='#'><span>About</span></a>
		      <ul>
		         <li><a href='#'><span>Company</span></a></li>
		         <li class='last'><a href='#'><span>Contact</span></a></li>
		      </ul>
		   </li>
		   <li class='last'><a href='#'><span>Contact</span></a></li>
		</ul>
		</div>
	{% endblock %}
</body>

</html>