/*This CSS file is support some extra tools on the page, including the table on the table page, the
* charts on the home page, and the tagcloud.
*/

#static-pic {
    height: 100%;
    width: 100%;
}
.static-image {

    height: 100%;
    width: 40%;
    background-color: lightblue;
    float: left;
    /*z-index: -1;*/
}
.dynamic-content {
    background-color: green;
}

#tagsCanvasContainer {
    /*position: relative;*/
    /*top: 10%;*/
    text-align: center;
    /*background-color: pink;*/
}

/* Don't change the size in CSS for this canvas! Important!*/
#tagcloud-canvas {
    margin-top: 0.6%;
    border-radius: 20px;
    background-color: white;
}

#tag-fun-btn {
    /*position: relative;*/
    /*top: 300px;*/
    /*left: 18%;*/
    /*float: left;*/
    width: 59%;
}

/*This is for charts.*/
#chart-container {
    position: relative;
    width: 100%; 
    height: 100%; 
    top: 10%; 
    margin: 0 auto; 
    /*border: 3px solid grey;*/
    /*background-color: #FFFFE0;*/
}

#news-div {
    /*text-align: center;*/
    /*position: relative;*/
    /*top: 10%;*/
    /*background-color: white;*/
}
.news-list {
    margin: 0px auto;
    width: 100%;
    /*background-color: white;*/
}
.new-list-top {
    color: white;
    background-color: brown;
}
.news-list-li {
    background-color: pink;
}
.news-list-a {
    color: black; 
}
.news-span {
    background-color: brown;
}



/* Below are for the categorys in home page inside #alter div. */
/*.cat-divs {
    float: left;
    text-align: center;
    background-color: red;
  }*/
#cat-title {
    /*margin-top: 20px;*/
    position: relative;
    top: 2%;
    font-size: 40px;

}

.cat-btns {
    margin-top: 0px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    width: 45%;
    height: 40%;

    font-size: 40px;
    /*font-style: italic;*/
    text-align: center;
    display: none;
    padding-top: 7%;
    /*line-height: 100%;*/
    /*vertical-align: text-middle;*/

    /*background-color: red;*/
}

#cat-container {
    /*height: 200px;*/
    /*width: 300px;*/

    position: relative;
    width: 100%; 
    height: 100%; 
    /*top: 15%; */
    margin: 0 auto; 
    border: 3px solid grey;

    text-align: center;
    background-color: #FFFFE0;
}

/* below are for the table page. */
.up-table-container {
    height: 50px;
}
.table-btn {
    position: relative;
    left: 50.6%;
    top: -38px;
}
#back-btn {
    position: relative;
    left: -49%;
    top: -38px;
    /*top: -70px;*/
}

.headline {
    font-family: Calibri, "Helvetica", san-serif;
    line-height: 1em;
    color: #a26;
    /*margin: 0px auto;*/
    margin: 35%;
    display: inline;
}

#cat-table-title {
    position: relative;
    top: 10px;
}

#cat-table-title:after {
    content: '';
    display: block;
    border: 2px solid grey;
    width: 100%;
    margin: 0px auto;
}

/* Below is used to styling table in html. */
.table-container {
    background-color: #FFE;
    width: 70%;
    margin: 0px auto;
}

/* Below is for styling the error page. */
#error-div {
    position: relative;
    top: 20%;
    text-align: center;
}
#error-pic {
    width: 15%;
    height: 15%;
    /*margin: 0px auto;*/
}
.error-headline {
    margin: 0px auto;
}
